@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  interpolate-size: allow-keywords;
}

.app {
  font: var(--font-l);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

iframe {
  display: none;
}